<fieldset>
  <legend><%= l(:reminder_default_notification_settings) %></legend>
  <p>
    <%= l(:field_reminder_notification) %>
    <%= text_field_tag 'settings[reminder_notification]', settings['reminder_notification'] %>
    <br/>
    <em><%= l(:text_comma_separated) %></em>
  </p>
</fieldset>
