<p><%= l(:reminder_mail_body) %>:</p>

<% @projects.each do |project, issues| -%>

    <h2><%= "#{project.name}" %></h2>
    <ul>
    <% issues.each do |issue| -%>
        <%
           name = "#{issue.tracker} ##{issue.id}: #{issue.subject}"
           if issue.overdue?
             caption = "! #{l(:reminder_days_overdue, :days => issue.days_before_due_date.abs)}! #{name}"
           else
             caption = "* #{name} (#{l(:field_due_date)}: #{issue.due_date})"
           end
        -%>
        <li>
        <%= link_to caption,issue_url(issue) %>
        </li>
    <% end -%>
    </ul>
<% end -%>

<p><%= link_to l(:label_issue_view_all), @issues_url %></p>
